.footer{
    background-color: hsl(210,79%, 60%) !important;
    .container{
    
        h4 {
            color: hsl(0, 0%, 24%);
    
            p:hover {
                cursor: pointer;
                text-decoration: underline;
    
            }
        }
    }
}




