.container{
    .text-wrapper{
        

        .lists {
            
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 0.5rem;
            font-family: 'Crimson Text', serif;

            p {
                text-align: start;
                font-size: larger;
        }
        
        }

    }
}